name: Release to npm

on:
  push:
    tags:
      # normal versions
      - "v[0-9]+.[0-9]+.[0-9]+"
      # pre-releases
      - "v[0-9]+.[0-9]+.[0-9]+-**"

permissions:
  contents: read
  id-token: write

concurrency:
  group: release-npm-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    name: Build, check and publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Tags are needed to determine the correct version ID during build
      - name: Fetch tags
        run: git fetch --tags --force

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Type check
        run: npm run check

      - name: Test
        run: npm run test

      - name: Publish
        run: npm publish --provenance
